__pycache__/
__MACOSX/
output/
old_ds/
.DS_Store
.ipynb_checkpoints
.conda
sketches.ipynb
dataset
MNIST
rightImg8bit_trainvaltest
rightImg8bit_trainextra
gtFine_trainvaltest
checkpoints
checkpoints(concatenating)
checkpoints(splitting_old_ver)